.app-container {
  width: 80%;
  margin: auto;
  margin-top: 32px;
  padding-bottom: 50px;
}

.subtitle {
  margin-bottom: 12px;
}

.chart {
  margin-top: 24px;
}

.chart .subtitle {
  margin-bottom: 16px;
}
